annotated-types==0.7.0
coverage==7.11.0
flake8==7.3.0
greenlet==3.2.4
iniconfig==2.3.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.18.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
pycodestyle==2.14.0
pydantic==2.12.3
pydantic_core==2.41.4
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.2
python-dotenv==1.2.1
PyYAML==6.0.3
rich==14.2.0
SQLAlchemy==2.0.44
tqdm==4.67.1
typing-inspection==0.4.2
typing_extensions==4.15.0
